@model List<ApplicacionWebp.Models.ViewModels.ListTablaViewModel>
@{
    ViewBag.Title = "Index";
}


<h1 class="text-center ">Usuarios</h1>

<div class="row">
    <div class="container">
        <table class="table">
            <tr>
                <th>Nomber</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Edad</th>
                <th>Activo</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            @foreach (var oUsuario in Model)
            {
                <tr>
                    <th>@oUsuario.Nombre</th>
                    <th>@oUsuario.Apellido_Paterno</th>
                    <th>@oUsuario.Apellido_Materno</th>
                    <th>@oUsuario.Edad</th>
                    <th>@oUsuario.isactive</th>
                    <th>
                        <button class="btn btn-primary" data-target="#modalCrearEditar" data-toggle="modal" id="editar">Editar</button>
                    </th>
                    <th>
                        <button class="btn btn-danger" id="eliminar">Eliminar</button>
                    </th>
                </tr>
            }
        </table>
        <button class="btn btn-success" data-target="#modalCrearEditar" data-toggle="modal" id="agregar">Agregar</button>

        <div class="modal" id="modalCrearEditar" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="text-center">Crear Usuario</h2>
                    </div>
                    <div class="modal-body">

                        <form role="form">

                            <input type="text" placeholder="Nombre" class="form-group form-control" name="nombre" />

                            <div class="form-group">
                                <input type="text" placeholder="Apellido Paterno" class="form-control" name="apellioP" />
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Apellido Materno" class="form-control" name="apellidoM" />
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Edad" class="form-control" name="edad" />
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="isactive">
                                    <option>Activo</option>
                                    <option>No activo</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input class="btn btn-success" value="Agregar" id="agregarCampo" />
                                <input class="btn btn-primary" style="display: none" value="Editar" id="editarAgregar" />
                            </div>
                        </form>

                        <button class="btn btn-lg btn-block" data-dismiss="modal">Cerrar&times;</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


<script src="~/Scripts/Modal.js"></script>