@model ApplicacionWebp.Models.ViewModels.ListTablaViewModel
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<h1 class="text-center ">Usuarios</h1>

<div class="row">
    <div class="container">
        <div class="container">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Edad</th>
                    <th>Activo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tbody id="GetData">
                </tbody>
            </table>
        </div>


        <button class="btn btn-success" onclick="AgregarUsuario()" data-target="#modalCrearEditar" data-toggle="modal" id="agregar">Agregar</button>

        <div class="modal fade" id="modalCrearEditar" role="dialog" style="margin-top: 65px">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="text-center" id="titulo"></h2>
                    </div>
                    <div class="modal-body">

                        <form role="form" id="form">

                            <fieldset id="submitForm">
                                @Html.HiddenFor(m => m.Id, new { @id = "UsuId" })

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Nombre, new { @id = "UsuNombre", @class = "form-control", @placeholder = "Nombre del Usuario" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Apellido_Paterno, new { @id = "UsuApellidoP", @class = "form-control", @placeholder = "Apellido Paterno" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Apellido_Materno, new { @id = "UsuApellidoM", @class = "form-control", @placeholder = "Apellido Materno" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Edad, new { @id = "UsuEdad", @class = "form-control", @placeholder = "Edad" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.isactive, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" onclick="EditarRegistro(e)" value="Editar" id="EditarRe" />
                                    <input type="submit" class="btn btn-success" onclick="guardarRegistro(e)" value="Guardar" id="GuardarRe" />
                                </div>
                            </fieldset>
                        </form>
                        <button class="btn btn-danger btn-lg btn-block" data-dismiss="modal">Cerrar&times;</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


<script>


    //Resetear formulario
    function resetearForm() {
        $("#form")[0].reset();
    }
    //Crea los datos y Muestra la tabla
    cargarDatos();
    function cargarDatos() {
        $.ajax({
            type: "GET",
            url: "/Agregar/GetInfo",
            success: function (data) {
                data.forEach(da => {
                    //console.log(da);

                    const tablaInfo = document.querySelector("#GetData");

                    tablaInfo.innerHTML += `
                        <tr>
                            <td>${da.Id}</td>
                            <td>${da.Nombre}</td>
                            <td>${da.Apellido_Paterno}</td>
                            <td>${da.Apellido_Materno}</td>
                            <td>${da.Edad}</td>
                            <td>${da.isactive}</td>
                            <td><a class="btn btn-primary" onclick="EditarUsuario(${da.Id})" data-target="#modalCrearEditar" data-toggle="modal">Editar</a> </td>
                            <td><a class="btn btn-danger" onclick="EliminarUsuario(${da.Id})">Eliminar</a> </td>
                        </tr>
                    `;
                })
            }
        })
    }



    //Trae la informacion de la BD y la muestra en los inputs
    function EditarUsuario(userId) {

        const titulo = document.querySelector("#titulo");
        titulo.textContent = "Editar Usuario";
        const btnAgregar = document.querySelector("#GuardarRe");
        btnAgregar.style.display = 'none';


        console.log(userId);

        $.ajax({
            type: "POST",
            url: "/Agregar/GetUsuarioById",
            data: { 'UserId': userId },
            success: function (oData) {

                console.log(oData);
                const idInput = document.querySelector("#UsuId");
                const nombre = document.querySelector("#UsuNombre");
                const apellidoP = document.querySelector("#UsuApellidoP");
                const apellidoM = document.querySelector("#UsuApellidoM");
                const edad = document.querySelector("#UsuEdad");
                const select = document.querySelector("#form select");

                idInput.value = oData.id;
                nombre.value = oData.Nombre;
                apellidoP.value = oData.Apellido_Paterno;
                apellidoM.value = oData.Apellido_Materno;
                edad.value = oData.Edad;
                select.value = oData.isactive;

            }
        })

    }

    //Boton de agregar que esta fuera del modal
    function AgregarUsuario() {

        const titulo = document.querySelector("#titulo");
        titulo.textContent = "Crear Nuevo Usuario";
        const btnAgregar = document.querySelector("#EditarRe");
        btnAgregar.style.display = 'none';
    } 

    //Guardar un registro nuevo
    function guardarRegistro(e) {
        e.preventDefault();
        const nombre = document.querySelector("#UsuNombre");
        const apellidoP = document.querySelector("#UsuApellidoP");
        const apellidoM = document.querySelector("#UsuApellidoM");
        const edad = document.querySelector("#UsuEdad");
        const select = document.querySelector("#form select");

        if (nombre.value === "" || apellidoP.value === "" || apellidoM.value === "" || edad.value === "" || select.value === "") {

            mostrarAlerta("Todos los campos son obligatorios", "error");
            return;
        }


        
    }

    //Elimina usuario de la BD
    function EliminarUsuario(usuId) {
            $.ajax({
                type: "POST",
                url: "/Agregar/DeleteUser",
                data: { "UserId": usuId },
                success: function () {
                    console.log("Eiminado");
                    console.log(usuId);
                }

            })

    }

    function mostrarAlerta(mensaje, tipo) {
        const alerta = document.querySelector('.alerta');

        if (!alerta) {
            const div = document.createElement('div');
            const texto = document.createElement('p');
            const modalBody = document.querySelector('.modal-body');
            texto.textContent = mensaje;
            div.appendChild(texto);
            if (tipo === 'error') {
                div.classList.add('alert', 'text-center', 'alert-danger', 'alerta');
            } else {
                div.classList.add('alert', 'text-center', 'alert-success', 'alerta');

            }

            modalBody.insertBefore(div, modalBody.children[0]);

            setTimeout(() => {
                div.remove();
            }, 2000)
        }

    }



</script>
