@model ApplicacionWebp.Models.ViewModels.ListTablaViewModel
@{
    ViewBag.Title = "Index";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<h1 class="text-center ">Usuarios</h1>

<button class="btn btn-success" id="agregar" style="margin: 30px">Agregar</button>


    <div class="container">
        <div class="container">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Edad</th>
                    <th>Activo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tbody id="GetData">
                </tbody>
            </table>
        </div>


        <div class="dx-viewport">
            <div id="dxDatos">

            </div>
        </div>


    </div>

    

<script>

    $(function () {

        var orderStore = new DevExpress.data.CustomStore({
            load: function () {
                return $.getJSON("/Agregar/GetInfo");
            },
            insert: function (values) {
                    var data = values;
                    //console.log(data);
                    $.ajax({
                        type: "POST",
                        url: "/Agregar/CreateUser",
                        data: data,
                        success: function () {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Registro Guardado Correctamente',
                                showConfirmButton: false,
                                timer: 1500
                            })

                            //console.log('Agregado');

                        }
                    });
            },
            update: function (key,values) {


                const datosAct = { ...key, ...values };
                //console.log(datosAct);
                console.log(datosAct);
                $.ajax({
                    type: "POST",
                    url: "/Agregar/UpdateUser",
                    data: datosAct,
                    success: function () {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Registro Editado Correctamente',
                            showConfirmButton: false,
                            timer: 1500

                        });
                        //console.log(values);
                    }
                });


            },
            remove: function (key) {
                $.ajax({
                    type: "POST",
                    url: "/Agregar/DeleteUser",
                    data: { "UserId": key.Id },
                    success: function () {

                    }

                })
            } 

        });

        $("#dxDatos").dxDataGrid({
            dataSource: orderStore,
            repaintChangesOnly: true,
            columns: [
                { dataField: "Nombre" },
                { dataField: "Apellido_Paterno" },
                { dataField: "Apellido_Materno" },
                { dataField: "Edad" },
                { dataField: "isactive" }

            ],
            columnAutoWidth: true,
            allowColumnReordering: true,
            allowColumnResizing: true,
            searchPanel: {
                visible: true,
                highlightCaseSensitive: true
            },
            showBorders: true,
            editing: {
                refreshMode: "reshape",
                mode: "popup",
                allowUpdating: true,
                allowAdding: true,
                allowDeleting: true,
                confirmDelete: true,
                popup: {
                    title: "Usuario",
                    showTitle: true,
                    width: 500,
                    height: 400
                },
                form: {
                    items: [{
                        itemType: "group",
                        colCount: 1,
                        colSpan: 2,
                        items: [

                            {
                                dataField: "Nombre",
                                validationRules: [
                                    {
                                        type: "required",
                                        message: "El Nombre es obligatorio"
                                    }
                                ]
                            },
                            {
                                dataField: "Apellido_Paterno",
                                validationRules: [
                                    {
                                        type: "required",
                                        message: "El Apellido Paterno es obligatorio"
                                    }
                                ]
                            },
                            {
                                dataField: "Apellido_Materno",
                                validationRules: [
                                    {
                                        type: "required",
                                        message: "El Apellido Materno es obligatorio"
                                    }
                                ]
                            },
                            {
                                dataField: "Edad",
                                validationRules: [
                                    {
                                        type: "required",
                                        message: "La edad es obligatoria"
                                    }
                                ]
                            },
                            {
                                dataField: "isactive"

                            }
                        ]
                    }]

                },




            }
        }).dxDataGrid("instance");

    })




    //Resetear formulario
    function resetearForm() {
        $("#form")[0].reset();
    }
    //Crea los datos y Muestra la tabla
    cargarDatos();
    function cargarDatos() {
        $.ajax({
            type: "GET",
            url: "/Agregar/GetInfo",
            success: function (data) {
                data.forEach(da => {
                    //console.log(da);

                    const tablaInfo = document.querySelector("#GetData");

                    tablaInfo.innerHTML += `
                        <tr>
                            <td>${da.Nombre}</td>
                            <td>${da.Apellido_Paterno}</td>
                            <td>${da.Apellido_Materno}</td>
                            <td>${da.Edad}</td>
                            <td>${da.isactive}</td>
                            <td><a class="btn btn-primary" onclick="EditarUsuario(${da.Id})" >Editar</a> </td>
                            <td><a class="btn btn-danger" onclick="EliminarUsuario(${da.Id})">Eliminar</a> </td>
                        </tr>
                    `;
                });
            }
        })
    }

    //Boton de agregar que esta fuera del modal
    const btnAgregarF = document.querySelector("#agregar");
    btnAgregarF.addEventListener("click", () => {
        Swal.fire({
            confirmButtonColor: "#c2240a",
            confirmButtonText: "Cerrrar &times;",
            html: `
                        <h2 style="margin: 20px">Crear Usuario</h2>
                        <p style="border-bottom: 1px solid #e5e5e5"></p>
                        <form role="form" id="form" class="form-crear-edit">

                            <fieldset id="submitForm">
                                @Html.HiddenFor(m => m.Id, new { @id = "UsuId"})

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Nombre, new { @id = "UsuNombre", @class = "form-control", @placeholder = "Nombre del Usuario" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Apellido_Paterno, new { @id = "UsuApellidoP", @class = "form-control", @placeholder = "Apellido Paterno" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Apellido_Materno, new { @id = "UsuApellidoM", @class = "form-control", @placeholder = "Apellido Materno" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Edad, new { @id = "UsuEdad", @class = "form-control", @placeholder = "Edad" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.isactive, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success" onclick="guardarRegistro(event)" value="Guardar" id="GuardarRe" />
                                </div>
                            </fieldset>
                        </form>
                    `
        });
    });




    //Guardar un registro nuevo
    function guardarRegistro(event) {
        event.preventDefault();
        const nombre = document.querySelector("#UsuNombre");
        const apellidoP = document.querySelector("#UsuApellidoP");
        const apellidoM = document.querySelector("#UsuApellidoM");
        const edad = document.querySelector("#UsuEdad");
        const select = document.querySelector("#form select");


        if (nombre.value === "" || apellidoP.value === "" || apellidoM.value === "" || edad.value === "" || select.value === "") {

            mostrarAlerta("Todos los campos son obligatorios", "error");
            console.log();
            return;
        }

        $.ajax({
            type: "POST",
            url: "/Agregar/CreateUser",
            data: {
                Nombre: nombre.value,
                Apellido_Paterno: apellidoP.value,
                Apellido_Materno: apellidoM.value,
                Edad: edad.value,
                isactive: select.value
            },
            success: function () {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Registro Guardado Correctamente',
                    showConfirmButton: false,
                    timer: 1500
                })
                limpiarHTML();
                cargarDatos();

                //console.log('Agregado');

            }
        });


    }

    //Trae la informacion de la BD y la muestra en los inputs
    function EditarUsuario(userId) {
            Swal.fire({
            confirmButtonColor: "#c2240a",
            confirmButtonText: "Cerrrar &times;",
            customClass: 'btn-block',
            html: `
                        <h2 style="margin: 20px">Editar Usuario</h2>
                        <p style="border-bottom: 1px solid #e5e5e5"></p>
                        <form role="form" id="form" class="form-crear-edit" style="width: 100%">

                            <fieldset id="submitForm">
                                @Html.HiddenFor(m => m.Id, new { @id = "UsuId"})

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Nombre, new { @id = "UsuNombre", @class = "form-control", @placeholder = "Nombre del Usuario" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Apellido_Paterno, new { @id = "UsuApellidoP", @class = "form-control", @placeholder = "Apellido Paterno" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Apellido_Materno, new { @id = "UsuApellidoM", @class = "form-control", @placeholder = "Apellido Materno" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Edad, new { @id = "UsuEdad", @class = "form-control", @placeholder = "Edad" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.isactive, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group">
                                <input type="submit" class="btn btn-primary" onclick="EditarRegistro(event)" value="Editar" id="EditarRe" />

                                </div>
                            </fieldset>
                        </form>
                    `
            });
        $.ajax({
            type: "POST",
            url: "/Agregar/GetUsuarioById",
            data: { 'UserId': userId },
            success: function (oData) {

                //console.log(oData);
                const idInput = document.querySelector("#UsuId");
                const nombre = document.querySelector("#UsuNombre");
                const apellidoP = document.querySelector("#UsuApellidoP");
                const apellidoM = document.querySelector("#UsuApellidoM");
                const edad = document.querySelector("#UsuEdad");
                const select = document.querySelector("#form select");

                idInput.value = oData.Id;
                nombre.value = oData.Nombre;
                apellidoP.value = oData.Apellido_Paterno;
                apellidoM.value = oData.Apellido_Materno;
                edad.value = oData.Edad;
                select.value = oData.isactive;

                //console.log(btnEdit);

            }
        })

    }

    //Edita registro

    function EditarRegistro(event) {
        event.preventDefault();

        const idIn = document.querySelector("#UsuId").value;
        const nombre = document.querySelector("#UsuNombre").value;
        const apellidoP = document.querySelector("#UsuApellidoP").value;
        const apellidoM = document.querySelector("#UsuApellidoM").value;
        const edad = document.querySelector("#UsuEdad").value;
        const select = document.querySelector("#form select").value;


        if (nombre === "" || apellidoP === "" || apellidoM === "" || edad === "" || select === "") {

            mostrarAlerta("Todos los campos son obligatorios", "error");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/Agregar/UpdateUser",
            data: {
                Id: idIn,
                Nombre: nombre,
                Apellido_Paterno: apellidoP,
                Apellido_Materno: apellidoM,
                Edad: edad,
                isactive: select
            },
            success: function () {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Registro Editado Correctamente',
                    showConfirmButton: false,
                    timer: 1500
                })
                limpiarHTML();
                cargarDatos();
            }
        })



    }

    //Elimina usuario de la BD
    function EliminarUsuario(usuId) {
        Swal.fire({
            title: 'Estas seguro de eiminar este registro?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Eliminado!',
                    'Your file has been deleted.',
                    'success',
                    $.ajax({
                        type: "POST",
                        url: "/Agregar/DeleteUser",
                        data: { "UserId": usuId },
                        success: function () {
                            limpiarHTML();
                            cargarDatos();
                        }

                    })
                )
            }
        })
    }

    //Muestra alerta de error
    function mostrarAlerta(mensaje, tipo) {
        const alerta = document.querySelector('.alerta');

        if (!alerta) {
            const div = document.createElement('div');
            const texto = document.createElement('p');
            const modalBody = document.querySelector('#submitForm');
            texto.textContent = mensaje;
            div.appendChild(texto);
            if (tipo === 'error') {
                div.classList.add('alert', 'text-center', 'alert-danger', 'alerta');
            } else {
                div.classList.add('alert', 'text-center', 'alert-success', 'alerta');

            }

            modalBody.insertBefore(div, event.target.parentElement.parentElement.children[1]);

            setTimeout(() => {
                div.remove();
            }, 2000)
        }

    }

    //Limpia el HTML previo
    function limpiarHTML() {
        const dataTable = document.querySelector("#GetData");
        while (dataTable.firstChild) {
            dataTable.removeChild(dataTable.firstChild);
        }

    }


</script>


<style>

    .dx-link {
        padding: .7rem 1.5rem !important;
        text-decoration: none !important;
        color: #fff !important;
        transition: all .3s ease-in-out;
        border-radius: 5px;
    }

    .dx-link-edit {
        background-color: #fcba03!important;

    }
        .dx-link-edit:hover {
            background-color: #ffaf03!important;
        }
    .dx-link-delete {
        background-color: #d40241 !important;
    }
        .dx-link-delete:hover {
            background-color: #ad0034!important;
        }
</style>